.device-list {
  display: none;
}

.button-group,
.device-icon {
  left: 50px;
  position: fixed;
  top: 0;
}

.device-icon {
  left: 0;
}

.button-group button {
  background-color: #fff;
  border-width: 0 1px 1px 0;
  cursor: pointer;
  height: 30px;
  margin: 0;
}
.button-group button:hover {
  color: #0088cc;
  cursor: pointer;
}